!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Air Conditioner Remote
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %link{ rel: "stylesheet", href: "stylesheets/style.css" }
  %body
    #container.container
      %header
        %h1 Air Conditioner Remote
      #main{ role: "main" }
        .alert.alert-success.alert-hidden Command sent.
        .r.first
          %button#power.btn.btn-success{ "data-command": "power-on", "data-toggle": "button" }
            %i.fa.fa-power-off
          %span.temperature
            %span.digital 00
            %span.deg &deg;
            .btn-group-vertical
              %button.btn.up
                %i.fa.fa-plus
              %button.btn.down
                %i.fa.fa-minus
        .r
          .btn-group{ "data-toggle": "buttons-radio" }
            %button.btn.mode-freeze{ "data-command": "mode-freeze" }
              %i.wi.wi-snowflake-cold
            %button.btn.mode-heat{ "data-command": "mode-heat" }
              %i.wi.wi-day-sunny
            %button.btn.mode-fan{ "data-command": "mode-fan" }
              %i.wi.wi-hurricane
        .r
          .btn-group{ "data-toggle": "buttons-radio" }
            %button.btn.fan-small{ "data-command": "fan-small" }
              %i.wi.wi-hurricane
            %button.btn.fan-medium{ "data-command": "fan-medium" }
              %i.wi.wi-hurricane
            %button.btn.fan-large{ "data-command": "fan-large" }
              %i.wi.wi-hurricane
        .r.timer.timer-on
          On in
          %span.digital 00
          .btn-group.btn-group-inline
            %button.btn.up
              %i.fa.fa-plus
            %button.btn.down
              %i.fa.fa-minus
          minutes
          %button.btn.btn-small.timer-set Set
          %span.info.hidden
            %button.btn.btn-small.timer-clear Clear
            %span.label.label-info
        .r.timer.timer-off
          Off in
          %span.digital 00
          .btn-group.btn-group-inline
            %button.btn.up
              %i.fa.fa-plus
            %button.btn.down
              %i.fa.fa-minus
          minutes
          %button.btn.btn-small.timer-set Set
          %span.info.hidden
            %button.btn.btn-small.timer-clear Clear
            %span.label.label-info
    %script{ src: "javascripts/jquery.js" }
    %script{ src: "javascripts/jquery.throttle-debounce.js" }
    %script{ src: "javascripts/fastbutton.js" }
    %script{ src: "javascripts/spinner.js" }
    %script{ src: "javascripts/app.js" }
