!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Air Conditioner Remote
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no" }
    %link{ rel: "stylesheet", href: "stylesheets/style.css" }
  %body
    #container.container
      %header
        %h1 Air Conditioner Remote
      #main{ role: "main" }
        .alert.alert-hidden &nbsp;
        .r.first
          %button#power.btn{ "data-command": "power-on", "data-toggle": "button" }
            %i.fa.fa-power-off
          %span.temperature
            %span.digital 00
            %span.deg &deg;
            .btn-group-vertical
              %button.btn.up
                %i.fa.fa-plus
              %button.btn.down
                %i.fa.fa-minus
        .r
          .btn-group{ "data-toggle": "buttons" }
            %label.btn.active.mode-freeze{ "data-command": "mode-cold" }
              %input{ "type": "radio", "name": "fan", "id": "mode-cold"}
              %i.wi.wi-snowflake-cold
            %label.btn.mode-heat{ "data-command": "mode-hot" }
              %input{ "type": "radio", "name": "fan", "id": "mode-hot"}
              %i.wi.wi-day-sunny
            %label.btn.mode-fan{ "data-command": "mode-fan" }
              %input{ "type": "radio", "name": "fan", "id": "mode-fan"}
              %i.wi.wi-hurricane
        .r
          .btn-group{ "data-toggle": "buttons" }
            %label.btn.active.fan-small{ "data-command": "fan-small" }
              %input{ "type": "radio", "name": "fan", "id": "fan-small"}
              %i.wi.wi-hurricane
            %label.btn.fan-medium{ "data-command": "fan-medium" }
              %input{ "type": "radio", "name": "fan", "id": "fan-medium"}
              %i.wi.wi-hurricane
            %label.btn.fan-large{ "data-command": "fan-large" }
              %input{ "type": "radio", "name": "fan", "id": "fan-large"}
              %i.wi.wi-hurricane
        .r.timer.timer-on
          On in
          %span.digital 00
          .btn-group.btn-group-inline
            %button.btn.up
              %i.fa.fa-plus
            %button.btn.down
              %i.fa.fa-minus
          minutes
          %button.btn.btn-small.timer-set Set
          %span.info.hidden
            %button.btn.btn-small.timer-clear Clear
            %span.label.label-info
        .r.timer.timer-off
          Off in
          %span.digital 00
          .btn-group.btn-group-inline
            %button.btn.up
              %i.fa.fa-plus
            %button.btn.down
              %i.fa.fa-minus
          minutes
          %button.btn.btn-small.timer-set Set
          %span.info.hidden
            %button.btn.btn-small.timer-clear Clear
            %span.label.label-info
        - if (temperature)
          .r.temperature-plot
            %h2 Room Temperature
    %script{ src: "javascripts/jquery.js" }
    %script{ src: "javascripts/jquery.throttle-debounce.js" }
    %script{ src: "javascripts/bootstrap-button.js" }
    %script{ src: "javascripts/fastbutton.js" }
    %script{ src: "javascripts/spinner.js" }
    %script{ src: "javascripts/app.js" }
    - if (temperature)
      %script{ src: "javascripts/d3.js" }
      %script{ src: "javascripts/temperature-plot.js" }
