$fa-font-path: "/fonts/";

$btn-default-bg: #e6e6e6;
$btn-success-bg: #5cb85c;
$btn-border-radius: 5px;

@import "./svg.scss";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 480px;
  padding: 15px;
}

h1 {
  margin: 6px 0;
  font-size: 28px;
}

.hidden {
  display: none;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
}
.alert-success.alert-hidden,
.alert-danger.alert-hidden {
  opacity: 0;
}
.alert-success,
.alert-danger {
  opacity: 1;
  transition: opacity 0.2s;
}
.r {
  margin: 0 auto;

  &.first {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
  }

  + .r {
    margin-top: .5rem;
  }
}
.btn {
  align-items: center;
  background-color: $btn-default-bg;
  border: 0;
  border-radius: $btn-border-radius;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: darken($btn-default-bg, 5%);
  }

  &:active,
  &.active {
    background-color: darken($btn-default-bg, 10%);
  }

  &.btn-success {
    background-color: $btn-success-bg;

    &:hover {
      background-color: darken($btn-success-bg, 5%);
    }

    &:active,
    &.active {
      background-color: darken($btn-success-bg, 10%);
    }
  }
}
.btn-group {
  display: flex;

  &.btn-group-vertical,
  &.btn-group-inline {
    flex-direction: column;

    > * {
      flex: 1;
    }

    .btn:first-of-type {
      border-radius: $btn-border-radius $btn-border-radius 0 0;
    }
  
    .btn:last-of-type {
      border-radius: 0 0 $btn-border-radius $btn-border-radius;
    }
  }

  > * {
    display: flex;
    flex: 1;
  }

  input[type="radio"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    &:checked + label {
      @extend .btn.active;
    }
  }

  .btn {
    border-radius: 0;
    flex: 1;
    text-align: center;
  }

  .btn:first-of-type {
    border-radius: $btn-border-radius 0 0 $btn-border-radius;
  }

  .btn:last-of-type {
    border-radius: 0 $btn-border-radius $btn-border-radius 0;
  }
}

.btn-row .btn {
  height: 50px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

#power {
  margin-right: 15px;
  padding: 1rem;
  width: 150px;

  &.active {
    @extend .btn-success;

    color: #fff;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
}

.spinner-vertical {
  .btn {
    font-size: inherit;
    width: 2em;
  }
  .icon {
    font-size: inherit;
    width: 1em;
    height: 1em;
  }
}

.temperature {
  align-items: stretch;
  display: flex;
  font-size: 50px;

  .digital, .deg {
    align-self: center;
    text-shadow: 2px 2px 0 #ddd;
  }

  .spinner-vertical {
    font-size: 2rem;
    margin-left: .5rem;
  }
}

.timer {
  display: flex;
  align-items: center;
  font-size: 16px;

  > * + * {
    margin-left: .2rem;
  }

  .btn {
    padding: 6px;
  }

  .digital {
    font-size: 30px;
  }
}

.temperature-plot h2 {
  font-size: 18px;
}
